[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tap-dayforce = {editable = true,path = "."}

[dev-packages]
isort = "*"
flake8 = "*"
pytest = "*"
tox = "*"

[requires]

[pipenv]
allow_prereleases = true
